# Common
.DS_Store
.vscode/

# Environment Files
.env
#.env.example

# Backend
**/__pycache__/
backend/**/*.pyc
backend/.env
backend/venv/
backend/app/static/remote_provider/

# Frontend
frontend/node_modules/
frontend/dist/
frontend/.env.local
# frontend/.env.example
frontend/.env
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
dist/

# Project Data
# (The project database is currently outside the repo, but just in case)
project-database/
data/

# Deploy Data
deploy/
*.crt
